[submodule "cookbooks/pivotal_workstation"]
	path = cookbooks/pivotal_workstation
	url = https://github.com/pivotal/pivotal_workstation.git
[submodule "cookbooks/osx"]
	path = cookbooks/osx
	url = https://github.com/schubert/chef-osx.git
